
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read and write access to everyone, even unauthenticated users.
    // This is NOT secure for a production app, but will guarantee
    // no permission errors for a college project.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
